/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 11, 2015, 7:30:46 PM
    Author     : GoldDust_Au
*/
#upcoming,#otherMedia,footer,footer p,topbox,header,#studentInfo,#mainMenu,.filler{
    display:none;
}
#tahours{
    position:relative; 
    border:thin solid black;
}
#tahours > h2{
    padding:.6em;
}
#tahours span{display:block;}
.dayColumn{
    display:inline;
    float:left;
    max-width:calc(100%/5.1);
}
.hourBox{
    border:thin solid black;
    min-height:4em;
}
.hourBox a{
    padding:0;
    margin:0;
    border:thin solid black;
    min-height:4em;
    display:inline;
    min-width:19%;
}
th,td,tr{
    border:thin solid black;
}
table{
    border-collapse:collapse;
}
#vcalendar > tbody > tr.monthHeader{
    background-color: black;
}
#attendanceRow{
    display:none;
}
#vcalendar > tbody > tr > td {
    width:calc(100%/7);
}
h1,h2,h3{
    text-align:center;
}
ol, ul{
    list-style-type:none;
}
#slide ol, #slide ul{
    list-style-type:initial;
}
li{
    padding-bottom:1%;
}
